.gestion-criticas-container {
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header-top h1 {
    font-size: 2rem;
    margin: 0;
    color: #000;
}

.header-top .contador {
    font-size: 0.85rem;
    background-color: #f8f7f7;
    border: solid 1px #dfdfdf;
    color: #000000;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    font-weight: 500;
}

.form-busqueda {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.form-busqueda > input {
    flex: 1;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.form-busqueda > button{
    border-radius: 8px;
    padding: 0.8rem 1rem;
    background-color: #111;
    color: white;
    font-size: 0.85rem;
    border: 1px solid #111 ;
}

.form-busqueda > button:hover{
    background-color: #474747;
    cursor: pointer;
}


.criticas-listado {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.critica {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 1.2rem 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
}

.critica-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado-info{
    display: flex;
    gap:  1rem;
    align-items: center;
}

.critica-encabezado h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #000;
}

.critica-encabezado p {
    margin: 0;
    font-size: 0.95rem;
    color: #444;
}

.estrella {
    color: #f7c400;
}

.critica-info {
    display: flex;
    gap: 1.5rem;
    font-size: 0.8rem;
    color: #454545;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.critica-info > p {
    margin: 0;
    font-weight: bold;
}

.critica-info > p > span{
    font-weight: normal;
    color: #7a7a7a;
}

.critica-texto {
    color: #666666;
    line-height: 1.5rem;
}

.btn-eliminar {
    padding: 0.5rem 0.9rem;
    font-size: 0.85rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.btn-eliminar:hover {
    background-color: #ffe0e0;
    color: #dc3545;
    border-color: #dc3545;
    cursor: pointer;
}

.alert {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    transition: opacity 0.5s ease;
}

.alert-error {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
}

.alert-success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

.noFound{
    color: #666666;
    text-align: center;
    margin-top: 2.5rem;
}
