.detalle-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.volver-btn {
    text-decoration: none;
    color: #444;
    margin-bottom: 2rem;
    display: inline-block;
    font-size: 14px;
}

.detalle-texto > h1{
    font-size: 2rem;
    margin-top: 0;
}

.info-basica{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.info-basica span {
    margin-right: 15px;
    color: #666;
    font-size: 14px;
}

.info-basica i {
    margin-right: 5px;
    color: #888;
}

.genero {
    background-color: #eee;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 12px;
}

.calificacion {
    margin: 1rem 0;
    font-size: 1rem;
    color: #737272;
}

.promedio{
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.calificacion .estrella {
    color: gold;
    margin-right: 5px;
}

.detalle-contenido {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.detalle-texto {
    flex: 1 1 60%;
}

.detalle-portada{
    height: 400px;
    width: 300px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.detalle-portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.informacionTexto{
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.informacionTexto > h2{
    margin: 0.5rem 0 0 0;
}

.informacionTecnica{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

.informacionTecnica > p{
    margin: 0;
}

.reparto {
    margin-top: 2rem;
}

.reparto-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

.actor {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 8px;
    min-width: 150px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #444;
}

.criticas {
    margin-top: 2rem;
    border-top: solid 1px #b6b4b4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.critica {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem 2rem;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
}

.critica-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.critica .estrella {
    color: gold;
}

.critica > p:last-child{
    color: #5e5d5d;
    margin: 0;
}

.critica-user{
    display: flex;
    gap: 1rem;
}

.critica-nota{
    display: flex;
    gap: 0.5rem;
}


.critica .fecha {
    font-size: 0.8rem;
    color: #575656;
    margin: 0;
}

.form-critica {
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #fbfbfb;
}

.form-critica h3 {
    margin-bottom: 1rem;
}

.form-critica label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-critica select,
.form-critica textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.form-critica textarea{
    resize: none;
    box-sizing: border-box;
}

.form-critica button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.form-critica button:hover {
    background-color: #000;
}