.home-container {
    margin: 0 auto;
    padding: 0 1rem;
    font-family: Arial, sans-serif;
}

.home-container h1 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

.subtitulo {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.filtros {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.filtros input,
.filtros select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 200px;
}

.filtros input{
    flex: 1;
}

.filtros select{
    cursor: pointer;
}

.filtros button{
    background-color: #111;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 0.85rem;
    border: none;
}

.filtros button:hover{
    background-color: #474747;
    cursor: pointer;
}


.peliculas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 100%;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    color: black;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
    padding: 0.8rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-header h3 {
    margin: 0;
    font-size: 1.2rem;
}

.card-header .info {
    display: flex;
    gap: 1.2rem;
    font-size: 0.85rem;
    color: #777;
}

.info-detail{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.card-img {
    height: 350px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #333;
    flex-grow: 1;
}

.card-body > p{
    line-height: 1.5rem;
}

.genero {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 0.8rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.nota {
    margin: 0.3rem 0;
    color: #717171;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.nota > i{
    font-size: 1.3rem;
    color: #dada02;
}

.promedio{
    margin-right: 0.5rem;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

.sinopsis {
    font-size: 0.85rem;
    line-height: 1.5rem;
    color: #444;
    margin: 0.5rem 0;
}

.noFound{
    color: #666666;
    text-align: center;
    margin-top: 2.5rem;
}
