.perfil-container {
    width: 90%;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

h1{
    color: #000000;
    font-size: 2.5rem;
}

h2{
    color: #000000;
    font-size: 1.5rem;
}

.criticas-section {
    margin-top: 2rem;
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #acabab;
}

.critica {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.critica-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.header-info > h3,
.info-details > p,
.critica > p{
    margin: 0;
}

.header-info > h3{
    font-size: 1rem;
}

.info-details > span{
    color: #9e9d9d;
    font-size: 0.8rem;
}

.critica > p{
    color: #666666;
    line-height: 1.5rem;
}

.info-details{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.estrella {
    color: #f39c12;
    margin-right: 5px;
}

.header-options{
    display: flex;
    gap: 0.8rem;
}

.btn-eliminar,
.btn-editar{
    padding: 0.5rem 1rem;
    background: #ffffff;
    border: #5e5d5d 1px solid;
    border-radius: 5px;
}

.btn-eliminar:hover,
.btn-editar:hover{
    background: #efeeee;
    cursor: pointer;
}

.alert {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    transition: opacity 0.5s ease;
}

.alert-error {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
}

.alert-success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
}

.form-edicion{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.edicion-calificacion{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.edicion-calificacion > select{
    min-width: 10rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px #ccc;
}

.form-edicion > textarea{
    resize: none;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    border: solid 1px #ccc;
}

.edicion-buttons{
    display: flex;
    gap: 1rem;
}

.edicion-buttons > button{
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
}

.edicion-buttons >button:first-child{
    color: #ffffff;
    background: #000000;
    border: solid 1px #131313;
}

.edicion-buttons > button:last-child{
    color: #000000;
    background: #ffffff;
    border: 1px solid #f0f0f0;
}

.edicion-buttons >button:first-child:hover{
    background: #1c1c1c;
    cursor: pointer;
}

.edicion-buttons > button:last-child:hover{
    background: #f8f7f7;
    cursor: pointer;
}

.hidden{
    display: none;
}